* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito",sans-serif;
}

* i {
    border: 0;
}

* a {
    text-decoration: none;
}

@keyframes overlayAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.5;
    }
}

.buy-icon {
    margin-right: .3125rem;
}


/* Grid layout */
.grid {
    display: block;
    width: 100%;
    padding: 0;
}

.container {
    padding: 0 0.75em;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.s-0 {
    display: none;
}

.s-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.s-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.s-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.s-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.s-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.s-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.s-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.s-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.s-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.s-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.s-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.s-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media screen and (min-width: 48em) {
    .row {
        margin-left: -0.5em;
        margin-right: -0.5em;
    }
    .col {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .m-0 {
        display: none;
    }
    
    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media screen and (min-width: 75em) {
    .row {
        margin-left: -0.75em;
        margin-right: -0.75em;
    }
    .col {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
    .l-0 {
        display: none;
    }
    
    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

