.lang-option {
  display: flex;
  align-items: center;
  margin: .625rem 0;
  cursor: pointer;
}

.change-lang-pop-over {
  color: inherit;
  padding: 0;
  margin: 0;
}
  
.popover-bodyy {
  padding: 0 1rem !important;
}

.lang-list {
  padding: 0;
  margin: 0;
}
        
  
.lang-thumbnail {
  background-size: cover;
  background-position: center;
  width: 2rem;
  height: 1.25rem;
  margin-right: .625rem;
}

.lang-img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}