.sortWrap {
    height: 50px;
    border-radius: 4px;
    padding: 3px;
    background-color: rgba(247, 226, 216, 0.651);
    margin: 10px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: left; 
    align-items: center;
    
}
.sortSelectGr {
    /* padding: 0 2rem; */
    /* margin: 0 10px; */
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
}

.sortby {
    font-size: 1rem;
    border-radius: 3px;
    border: solid 1px;
    outline: none;
}

.sortby:focus {
    border: rgba(208, 140, 109, 0.651) 3px;
    border-style: solid;
}