.title{
    display: flex;
    /* justify-content: space-between; */
    align-items: baseline;
    color: rgb(230, 150, 70);
    font-size: 2.0rem;
}
.titleWrap{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.profile_page{

}
.account_page{
    margin-top: 25px;
}
.show_dashboard_btn{
    
}
.account_page_header{
    display: flex;
}
.editBtn{
    min-width: 100px;
    width: 15%;
    color: rgb(230, 150, 70);
    /* outline: none; */
    border: rgb(230, 150, 70) 2px solid ;
    border-radius: 7px;
    padding: 7px;
    background-color: transparent;
}
.editBtn:hover{
    background-color: rgb(230, 150, 70);
    color: white;
}
.editBtn:focus{
    outline: 5px solid black;
}

.profileInfo{
    margin-top: 10px;
    padding: 10px;
    background-color: transparent;
}
.profileImg {
    border-radius: 50%;
    background-image: url(https://www.leoasher.dev/static/media/cuteCat.e842e48e.jpg);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    margin: 12px;
}

.order_card{
    vertical-align:baseline;
    /* background-color: white; */
    padding:20px;
}

.order_card_amount{
    text-align: center; 
    font-size:1.5rem; 
    color:rgb(230, 150, 70);

    vertical-align: baseline;
}
.order_card_title{
    font-size: 1rem;
    text-align: center;
}
.formControl {
    background-color: rgb(246, 249, 252) !important;
    color: black;
}