.main {
    background-color: rgb(246, 249, 252);
  }
  
  .header__nav-first {
    background-color: rgb(255, 255, 255);
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 20;
  }
  
  
  .header__nav-first-contact-wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0;
  }
  
  .header__nav-first-email {
    padding: 13.3px 0;
    display: flex;
    align-items: center;
  }
  
  .header__nav-first-email-iconn {
    align-items: baseline;
  }
  
  .header__nav-first-email-text {
    margin-left: 0.5rem;
  }
  
  .header__nav-first-separate {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 1rem;
  }
  
  .header__nav-first-phoneNum {
    padding: 13.3px 0;
    display: flex;
    align-items: center;
  }
  
  .header__nav-first-phoneNum-iconn {
    align-items: baseline;
  }
  
  .header__nav-first-phoneNum-num {
    margin-left: 0.5rem;
  }
  
  .header__nav-firs-bgr {
    width: 7.5rem;
    position: relative;
    user-select: none;
    align-items: center;
    padding: .375rem 0;
  
  }
  
  .header__nav-first-listIcon {
    display: flex;
  }
  
  .header__nav-first-listIcon-item {
    position: relative;
    margin: auto 0.625rem;
  }
  
  .header__nav-first-listIcon-item1 {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-image: url(/src/asset/america.png);
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
  }
  
  .header__nav-first-listIcon-item1-hover {
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    font-size: .875rem;
    padding: .3rem .5rem;
    border-radius: 3px;
    white-space: nowrap;
    transform: translate(-50%) translateY(100%);
    opacity: 0;
    transition: .3s;
  }
  
  .header__nav-first-listIcon-item1:hover .header__nav-first-listIcon-item1-hover {
    opacity: 1;
  }
  
  .header__nav-first-listIcon-item2 {
    display: inline-block;
    margin-top: 3px;
    font-size: 1.625rem;
    transform: rotate(-20deg); 
    cursor: pointer;
  }
  
  .header__nav-first-listIcon-item2-hover {
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    font-size: .875rem;
    padding: .3rem .5rem;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transition: .3s;
    transform: rotate(20deg) translateX(-60%) translateY(65%);  
  }
  
  
  .header__nav-first-listIcon-item2:hover .header__nav-first-listIcon-item2-hover {
    opacity: 1;
  }
  
  .header__nav-first-listIcon-item3 {
    display: inline-block;
    margin-top: 1px;
    font-size: 1.625rem;
    transform: rotate(180deg); 
    cursor: pointer;
  }
  
  
  .header__nav-first-listIcon-item3-hover {
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    font-size: .875rem;
    padding: .3rem .5rem;
    border-radius: 3px;
    opacity: 0;
    transition: .3s;
    transform: rotate(-180deg) translateX(50%) translateY(210%); 
  }
  
  
  .header__nav-first-listIcon-item3:hover .header__nav-first-listIcon-item3-hover {
    opacity: 1;
  }
  
  .header__nav-second {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: -1px;
    z-index: 10;
    
  }
  
  .header__nav-second-base {
    position: relative;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 0.75rem 0;
    width: 100%;
    justify-content: space-between;
  }
  
  .header__nav-second-branch {
    width: 10rem;
    position: relative;
    user-select: none;
    align-items: center;
    
  }
  
  .header__nav-second-branch-img {
    width: 100%;
  }
  
  .header__nav-second-search {
    position: relative;
    flex: 0.9;
  }
  
  .header__nav-second-search-form {
    display: flex !important;
  }
  
  .header__nav-second-search-input {
    display: block;
    width: 100%;
    background-color: rgb(246, 249, 252); 
    color: black;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .header__nav-second-search-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
  }
  
  .header__nav-second-search-btn {
    background-color: #e69646;
    user-select: none;
    border: 1px solid #e69646;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    cursor: pointer;
  }
  
  .header__nav-second-search-btn:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
  }
  
  .header__nav-second-search-icon {
    color: white;
  }
  
  .header__nav-second-btn {
    display: flex;
  }
  
  .header__nav-second-btn-item {
    cursor: pointer;
    position: relative;
    margin: auto .625rem;
  }
  
  .header__nav-second-btn-icon {
    font-size: 1.25rem;
  }
  
  .header__nav-second-btn-icon:hover {
    color:  #e69646;
  }
  
  .header__nav-second-btn-icon::before {
    content: "\f244";
  }
  
  .header__nav-second-btn-num {
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    right: 0;
    top: -2px;
    display: inline-block;
    transform: translate(70%,-40%);
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.3rem;
    border-radius: 50%;
    user-select: none;
    font-size: .7rem;
    font-weight: 500;
    color: #fff;
    background-color: #e69646;
  }