
.footer {
    margin-bottom: 20px;
    /* position: fixed; */
}

.footer__banner {
    overflow: hidden;
    margin: 20px auto;
}

.footer__botNav {
    padding: 20px;
}

.footer__description {
    padding: 1.5rem;
    color: gray;
    font: bold;
    
}

.footer__followUs {
    padding: 1.5rem;
}

.footer__followUs--icon {
    display: flex;
    color: gray;
}

.footer__banner--img {
    display: inline-block;
    width: 100%;
    -webkit-transition: all 10s ease;
    -moz-transition: all 10s ease;
    -o-transition: all 10s ease;
    -ms-transition: all 10s ease;
    transition: all 10s ease;
}
.footer__banner--img:hover {
    transform: scale(1.3);
}

.bot__nav {
    width: 100%;
    height: 70px;
    background-color: white;
    position: sticky;
    bottom: 0;
    padding: 0;
    margin: 0;
    display: none;
}
.bot-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: white;
    padding: 0;
}
.bot-nav-item {
    color: black;
    /* align-items: center;
    font-size: 2rem;
    align-items: center;
    display: flex;
    justify-content: center; */
}
.bot-nav-item--link {
    /* align-items: center; */
    text-decoration: none;
    color: black;
}
.item-wrap {
    padding: 0 5px;
    font-size: 1.2rem;
    color: orange;
    /* justify-content: center;
    height: 70px;
    align-items: center;
    
    justify-content: center; */
    align-items:center;
}
.bot-nav-icon {
    font-weight: 400;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 7px;
    color: black;
}
.bot-nav-Btn {
    color: black;
}

.bot-nav-link {
    text-decoration: none;
}

.bot-nav-link :active {
    color: orange;
}

.bot-nav-link{
    color: orange;
}

.active {

}