/* Form */
.separate-wrap {
    margin: 1rem 0;
    display: flex;
    opacity: .2;
    align-items: center;
  }

  .separate-dash {
    height: 1px;
    width: 100%;
    background-color: #888;
  }

  .separate-text {
    text-transform: uppercase;
    margin: 0 .375rem;
  }

  .change-modal-wrap {
    text-align: center;
    margin: 1.5rem;
  }

  .change-to-register {
    cursor: pointer;
    opacity: .6;
    transition: .2s;
    margin-top: .5rem;
  }

  .change-to-register:hover {
    opacity: 1;
  }

  .forgot-password {
    cursor: pointer;
    opacity: .6;
    transition: .2s;
    margin-top: .5rem;
  }

  .forgot-password:hover {
    opacity: 1;
  }