* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito",sans-serif;
}

* i {
    border: 0;
}

* a {
    text-decoration: none;
}

@keyframes overlayAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.5;
    }
}

.buy-icon {
    margin-right: .3125rem;
}


/* Grid layout */
.grid {
    display: block;
    width: 100%;
    padding: 0;
}

.container {
    padding: 0 0.75em;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.coll {
    padding-left: 4px;
    padding-right: 4px;
}

.ss-0 {
    display: none;
}

.ss-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.ss-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.ss-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.ss-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.ss-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.ss-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.ss-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.ss-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.ss-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.ss-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.ss-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.ss-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media screen and (min-width: 48em) {
    .row {
        margin-left: -0.5em;
        margin-right: -0.5em;
    }
    .coll {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .mm-0 {
        display: none;
    }
    
    .mm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .mm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .mm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .mm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .mm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .mm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .mm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .mm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .mm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .mm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .mm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .mm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media screen and (min-width: 75em) {
    .row {
        margin-left: -0.75em;
        margin-right: -0.75em;
    }
    .coll {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
    .ll-0 {
        display: none;
    }
    
    .ll-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .ll-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .ll-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .ll-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .ll-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .ll-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .ll-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .ll-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .ll-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .ll-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .ll-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .ll-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

