.main {
    background-color: rgb(246, 249, 252);
}

/* Shop product */
.shop {
    background-color: rgb(246, 249, 252);
    margin-top: 40px;
}

.product-item {
    background-color: rgb(255, 255, 255);
    border-radius: 0.625rem;
    transition: 0.3s;
    overflow: hidden;
    margin-top: 1rem !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.product-item:hover {
    transform: translateY(-1px);
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1) !important;
}

.product-item-bgr {
    padding-top: 100%;
    background-size: cover;
}

.product-content {
    font-size: 0.9375rem;
    z-index: 2;
}

.title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: black;
    line-height: 20px;
}

.title:hover {
    color: rgb(230, 150, 70);
}

.price {
    font-weight: 700;
    margin: 0.3125rem auto 0.625rem;
}

.product-content-cart {
    display: flex;
    justify-content: space-between;
    padding: 0.125rem;
    margin: 0.3125rem auto 0.625rem;
    border-radius: 0.3125rem;
    text-align: center;
    background-color: #464646;
}

.buy-btn {
    flex: 1 1;
    display: flex;
    justify-content: center;
    position: relative;
    color: #fefefe;
    border-radius: 0.3125rem;
    padding: 0.375rem 0;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    transition: 0.5s;
}

.buy-btn:hover {
    color: #fefefe;
    background-color: #e69646;
}

.cart-btn {
    margin-left: 0.125rem;
    background-color: #fefefe;
    color: #111;
    flex: 1 1;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 0.3125rem;
    padding: 0.375rem 0;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    transition: 0.5s;
}

.cart-btn:hover {
    color: #fefefe;
    background-color: #e69646;
}

.cart-icon {
    margin-right: 0.3125rem;
}

.backdrop {
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    background-color: #000;
    animation: overlayAnimation ease-in 0.5s;
    display: none;
}

.top-cart {
    background-color: rgb(255, 255, 255);
    color: black;
    top: 0;
    right: -100%;
    width: 400px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    transition: 0.5s ease-in-out;
}

.top-cart-header {
    border-bottom: 1px solid hsla(0, 0%, 66.7%, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.top-cart-title {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.375rem 0 0.25rem;
    margin-bottom: 0;
    line-height: 1.5;
}

.btn-close {
    padding: 0.5rem;
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    cursor: pointer;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    color: #000;
    background: url(../image/btn-close.svg) 50%/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
}

.btn-close:hover {
    opacity: 1;
}

.top-cart-body {
    padding: 0px;
    flex-grow: 1;
    overflow-y: auto;
}

.no__product {
    display: none;
    flex-direction: column;
    align-items: center;
}

.no__product-img {
    width: 15vw;
    user-select: none;
    max-width: 40%;
}

.no__product-title {
    font-size: 1rem;
    font-weight: 600;
    color: #0fbdf2;
}

.top-cart-footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.cart-btn-check {
    background-color: #fafafa;
    color: #e69646;
    margin: 0.375rem;
    user-select: none;
    border: 1px solid #e69646;
    padding: 0.375rem 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
}

.cart-btn-check:hover {
    background-color: #e69646;
    color: #fafafa;
}

.cart-btn-check:focus {
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

.cart-btn-view {
    background-color: #e69646;
    color: #fafafa;
    margin: 0.375rem;
    user-select: none;
    border: 1px solid #e69646;
    padding: 0.375rem 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
}
.cart-btn-view:focus {
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

.bottom__nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -0.3125rem 0.625rem rgb(0 0 0 / 10%);
    z-index: 10;
    background-color: rgb(255, 255, 255);
}

.bottom__nav-list {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bottom__nav-item {
    flex: 1 1;
}

.bottom__nav-item-wrap {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-item-choose {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1rem;
}

.product-plus-minus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plus {
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: 100;
    background-color: transparent;
    color: #000;
    transform: translateY(-2px);
}

.plus:hover {
    background-color: #e69646;
    color: #fafafa;
}

.minus {
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: 100;
    transform: translateY(2px);
}

.product-item-infor {
    display: flex;
    flex: 1 1;
}

.product-item-img {
    width: 4.5rem;
    min-width: 4.5rem;
    padding-top: 4.5rem;
    margin: 0 1rem;
    height: 100%;
    background-size: cover;
}

.product-detail-infor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
}

.product-total-price {
    font-size: 0.875rem;
    font-weight: 600;
    color: #e69646;
}

.product-remove {
    margin-left: 0.625rem;
}

.btn-remove-cart {
    padding: 0.5rem;
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    cursor: pointer;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    color: #000;
    background: url(../image/btn-close.svg) 50%/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
}

.btn-remove-cart:hover {
    opacity: 1;
}
