/* Product */

.product {
    background-color: rgb(255, 255, 255); 
    color: black;
    padding-top: 40px;
}

.product__base-img {
    padding: 0 0 20px;
    user-select: none;
    padding-right: 12px;
}

.product__base-imgg {
    width: 100%;
    border-radius: .3125rem;
}

.product__base-detail-title {
    margin: 10px 0 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.product__base-detail-price {
    color: #e69646;
    font-size: 1.375rem;
    font-weight: 700;
    padding-top: 12px;
}

.product__base-detail-btn {
    display: flex;
    align-items: center;
}

.btn1 {
    user-select: none;
    flex: 1 1;
    max-width: 8.75rem;
    margin: .625rem .625rem .625rem 0;
    border: 1px solid #e69646;
    border-radius: .25rem;
    color: #e69646;
    background-color: unset;
    padding: .375rem .5rem;
    cursor: pointer;
}

.btn1:hover {
    color: #fefefe;
    background-color: #e69646;
}

.btn2 {
    user-select: none;
    flex: 1 1;
    max-width: 8.75rem;
    margin: .625rem .625rem .625rem 0;
    background-color: #e69646;
    color: #fafafa;
    border: 1px solid #e69646;
    border-radius: .25rem;
    padding: .375rem .5rem;
    cursor: pointer;
}

.product__base-detail-infor {
    border-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid;
    margin-top: .75rem;
}

.product__base-detail-infor-title {
    margin-top: .75rem;
    margin-bottom: .75rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.product__base-detail-infor-text {
    font-size: 1rem;
    white-space: pre-line;
    word-break: break-word;
}